 * {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -o-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
 }

 /* Start General For All Site */
 .center {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .blockk {
   min-height: 600px;
   background-color: #6a5d2842;
   margin: 0px auto 30px;
 }

 a {
   text-decoration: none;
 }

 body {
   width: 100%;
   height: 100vh;
   background-color: gray;
 }

 h4 {
   padding: 7px;
   font-size: 17px;
   background-color: rgb(70 4 4);
   margin: auto;
   max-width: 110px;
   border-radius: 6px;
   color: #FFF;
   font-weight: bold;
   text-align: center;

 }

 /* End General For All Site */
 /*Start navbar */
 header {
   width: 100%;
   height: auto;
   background-color: #000000eb;
   position: fixed;
   z-index: 9999;
 }

 .container {
   width: 100%;
   max-width: 120rem;
   margin: 0 auto;
   padding: 0 1.5rem;
  
 }

 nav {
   width: 100%;
   height: 8rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }


 nav .navbar-brand p {
   color: #FFF;
   font-size: 30px;
   font-weight: bold;
   color: rgb(82 112 82 / 98%);
   margin-left: 20px;
 }

 .nav-list .nav-item a.active {
   color: #c0392b;
 }

 .nav-list {
   display: flex;
   list-style: none;
 }

 .nav-link {
   font-size: 17px;
   text-decoration: none;
   display: block;
   margin: 0px .1rem;
   color: #FFF;
   font-weight: bold;
   /* down line show and hide links smoothly*/
   transform: scale(0);
   transition: transform 650ms;
 }

 .nav-link:hover {
   color: rgb(82 112 82 / 98%);
 }

 .nav-item {
   position: relative;
   line-height: 2rem;
   transition-delay: .5s;
   visibility: hidden;

 }

 .nav-item::before {
   content: '';
   position: absolute;
   width: 84%;
   height: 2px;
   background-color: rgb(82 112 82 / 98%);
   left: 0;
   bottom: -7px;
   transform: scaleX(0);
   transform-origin: right;
   transition: transform 650ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
 }

 .nav-item:hover::before {
   transform: scaleX(1);
   transform-origin: left;
 }

 .cantactIcon-i {
   display: none;
 }

 /* start About Section */

 #about h1 {
   font-weight: 700;
 }

 .yearsExper h2 .sherif {

   font-weight: bold;
   font-size: 27px;

   font-weight: bold;
   display: inline-block;
   text-decoration: underline;

   color: rgb(82 112 82 / 98%);
   line-height: 33px;
 }


 .yearsExper .pragrph {
   font-size: 20px;
   font-weight: 500;
   line-height: 37px;
   letter-spacing: 0px;
   text-align: left;
   margin-left: 0px;
   max-width: 690px;
   height: auto;

 }

 .twinty {
   padding: 10px 25px;
   margin: 10px 5px 10px 18px;
   background-color: #62622299;
   border-radius: 50%;
   display: inline-flex;
 }

 .twinty p {
   font-size: 70px;
   font-weight: bold;

   animation: scale-up-center 1s ease 0s 1 normal none;
 }


 @keyframes scale-up-center {
   0% {
     transform: scale(1);
   }

   50% {
     transform: scale(1.5);
   }

   100% {
     transform: scale(1);
   }
 }



 .yearsExper h2 {
   color: #000;
   margin-bottom: 20px;

 }


 .year {
   margin-top: 20px;
   font-size: 35px;
   margin-left: 0px;
   margin-bottom: 75px;

 }


 /* start arrangment Icons email, Address, data .... atc into section About Me */


 .dataA .pastedPragraph {

   font-weight: bold;
 }

 .dataA i {
   color: rgb(70 4 4);
   font-size: 30px;
 }

 /*Start Organize What I do */
 /* start arrangment the What I do section that content title How I can help your next project ... atc in screen from 0 TO 250px */
 #what-i-do {
   height: auto;
 }

 #what-i-do h1 {
   margin-top: 50px;
 }



 /* start arrangment Icons email, Address, data .... atc into section About Me atc in screen from 992 TO 1200px  */
 .helped .container {
   margin-top: 0px;
 }


 .helpA {
   text-align: center;
   margin: 30px -5px 1px 10px;
   padding: 10px 0px 30px 0px;
 }

 .helpA .helpPragraph {

   font-size: 15px;

 }

 .helpA i {
   color: rgb(70 4 4);
   font-size: 34px;
   margin-left: -16px;
 }

 .helpA h6 {

   color: rgb(70 4 4);
   margin-top: 10px;
   text-shadow: -1px -3px 2px #48071fb3;
 }

 .helpIcon {
   margin-left: auto;
   margin-right: auto;
 }

 /* End arrangment Icons email, Address, data .... atc into section What I do in screen from 992 TO 1200px  */





 /*End Organize What I do */
 /* Organize Resume section */

 #resume h2 {

   color: rgb(70 4 4) !important;
   font-weight: 700;
 }


 /* End Progress like "Html,css,javascript,JQuery...." into Skills Section */
 .allSkills {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   margin: 35px auto;
   width: 100%;
 }


 /* Start progress NO.1 into Section Resume */



 .progrs {
   height: 191px;
   width: auto;
   margin-bottom: 20px;
 }

 .mainProgress {
   width: 100%;
   height: 183px;
 }

 .mainProgress2 {
   width: 100%;
   height: 183px;
 }




 .mainProgress .animation-bar-1,
 .mainProgress .animation-bar-2,
 .mainProgress .animation-bar-3,
 .mainProgress .animation-bar-A,
 .mainProgress .animation-bar-B {

   display: block;
   width: 100%;
   text-align: left;
   font-size: 16px;
   line-height: 16px;
   background: rgba(0, 0, 0, 0.1);
   box-shadow: inset 0 1px 2px rgb(0 0 0 / 25%),
     0 0px rgb(10 139 111 / 80%);
   height: 10px;
   border-radius: 10px;
 }


 .mainProgress .animation-bar-1 {
   margin-top: 2%;
 }


 .mainProgress .animation-bar-2 {
   margin-top: 16%;
 }

 .mainProgress .animation-bar-3 {
   margin-top: 16%;
 }

 .mainProgress .animation-bar-A {
   margin-top: 16%;
 }


 .mainProgress .animation-bar-B {
   margin-top: 18%;
 }



 .mainProgress .animation-bar-1::before,
 .mainProgress .animation-bar-2::before,
 .mainProgress .animation-bar-3::before,
 .mainProgress .animation-bar-A::before,
 .mainProgress .animation-bar-B::before {

   position: relative;
   top: -19px;
   font-weight: bold;
   font-size: 14px;
 }

 .mainProgress .animation-bar-1::before {
   content: "Web Design";
 }



 .mainProgress .animation-bar-2::before {
   content: "Html/ Css";
 }

 .mainProgress .animation-bar-3::before {
   content: "Java Script";
 }

 .mainProgress .animation-bar-A::before {
   content: "JQuery";
 }

 .mainProgress .animation-bar-B::before {
   content: "UI/ UX";
 }



 .mainProgress .animation-bar-1 span {
   position: relative;
   top: -17px;
   display: block;
   border-radius: 10px;
   height: 10px;
   width: 75%;
   background-image: linear-gradient(to bottom, rgb(29 42 29 / 98%), rgb(107 149 107));
   animation: progress-bar-1 6s 1 ease;

 }

 @keyframes progress-bar-1 {
   0% {
     width: 20%;
   }

   100% {
     width: 75%;
   }
 }

 .mainProgress .animation-bar-1 span::before,
 .mainProgress .animation-bar-2 span::before,
 .mainProgress .animation-bar-3 span::before,
 .mainProgress .animation-bar-A span::before,
 .mainProgress .animation-bar-B span::before {
   position: absolute;
   right: 0;
   bottom: 100%;
   display: inline-block;
   width: 0;
   height: 0;
   border: 10px solid green;
   border-right-width: 0;
   border-bottom-width: 0;
   border-top-color: rgba(0, 0, 0, 0.1);
   content: "";

 }






 .mainProgress .animation-bar-2 span {
   position: relative;
   top: -16px;
   display: block;
   height: 10px;
   width: 100%;
   border-radius: 10px;
   background-image: linear-gradient(to bottom, rgb(29 42 29 / 98%), rgb(107 149 107));
   animation: progress-bar-2 6s 1 ease;

 }

 @keyframes progress-bar-2 {
   0% {
     width: 20%;
   }

   100% {
     width: 100%;
   }
 }

 .mainProgress .animation-bar-1 span::after,
 .mainProgress .animation-bar-3 span::after,
 .mainProgress .animation-bar-2 span::after,
 .mainProgress .animation-bar-A span::after,
 .mainProgress .animation-bar-B span::after {
   position: absolute;
   right: 0;
   bottom: calc(100% + 5px);
   display: inline-block;
   content: attr(data-label);
   padding: 4px 8px;
   border-radius: 3px;
   font-size: 0.8em;
   font-weight: bold;
   background-color: rgb(82 112 82 / 98%);
   color: #fff;
 }

 /* End progress NO.2 into Section skills */
 /* Start progress NO.3 into Section skills */


 .mainProgress .animation-bar-3 span {
   position: relative;
   top: -16px;
   display: block;
   height: 10px;
   width: 80%;
   border-radius: 10px;
   background-image: linear-gradient(to bottom, rgb(29 42 29 / 98%), rgb(107 149 107));
   animation: progress-bar-3 6s 1 ease;

 }

 @keyframes progress-bar-3 {
   0% {
     width: 20%;
   }

   100% {
     width: 80%;
   }
 }

 /* End progress NO.3 into Section skills */

 /* Start progress NO.A into Section skills */
 .mainProgress .animation-bar-A span {
   position: relative;
   top: -17px;
   display: block;
   height: 10px;
   width: 93%;
   border-radius: 10px;
   background-image: linear-gradient(to bottom, rgb(29 42 29 / 98%), rgb(107 149 107));
   animation: progress-bar-A 6s 1 ease;

 }

 @keyframes progress-bar-A {
   0% {
     width: 20%;
   }

   100% {
     width: 93%;
   }
 }

 /* End progress NO.A into Section skills */


 /* Start progress NO.A into Section skills */
 .mainProgress .animation-bar-B span {
   position: relative;
   top: -17px;
   display: block;
   height: 10px;
   width: 71%;
   border-radius: 10px;
   background-image: linear-gradient(to bottom, rgb(29 42 29 / 98%), rgb(107 149 107));
   animation: progress-bar-B 6s 1 ease;

 }

 @keyframes progress-bar-B {
   0% {
     width: 20%;
   }

   100% {
     width: 71%;
   }
 }

 /* End progress NO.A into Section skills */
 /* Start progress NO.4 into Section skills */

 .progrs2 {
   height: 191px;
   width: auto;
   margin-top: -15px;
 }

 .mainProgress2 .animation-bar-4,
 .mainProgress2 .animation-bar-5,
 .mainProgress2 .animation-bar-6,
 .mainProgress2 .animation-bar-C,
 .mainProgress2 .animation-bar-D {

   display: block;
   width: 100%;
   margin-right: 20px;
   font-size: 16px;
   text-align: left;
   line-height: 16px;

   background: rgba(0, 0, 0, 0.1);
   box-shadow: inset 0 1px 2px rgb(0 0 0 / 25%),
     0 0px rgb(10 139 111 / 80%);
   height: 10px;
   border-radius: 10px;
 }

 .mainProgress2 .animation-bar-4 {
   margin-top: 2%;
 }


 .mainProgress2 .animation-bar-5 {
   margin-top: 16%;
 }

 .mainProgress2 .animation-bar-6 {
   margin-top: 16%;
 }

 .mainProgress2 .animation-bar-C {
   margin-top: 16%;
 }

 .mainProgress2 .animation-bar-D {
   margin-top: 18%;
 }





 .mainProgress2 .animation-bar-4::before,
 .mainProgress2 .animation-bar-5::before,
 .mainProgress2 .animation-bar-6::before,
 .mainProgress2 .animation-bar-C::before,
 .mainProgress2 .animation-bar-D::before {

   position: relative;
   top: -19px;
   font-weight: bold;
   font-size: 14px;
 }

 .mainProgress2 .animation-bar-4::before {
   content: "React JS";
 }

 .mainProgress2 .animation-bar-5::before {
   content: "Angular Js";
 }


 .mainProgress2 .animation-bar-6::before {
   content: "Bootstrap";
 }

 .mainProgress2 .animation-bar-C::before {
   content: "JSON";
 }

 .mainProgress2 .animation-bar-D::before {
   content: "PHP";
 }





 .mainProgress2 .animation-bar-4 span {
   position: relative;
   top: -16px;
   display: block;
   height: 10px;
   width: 65%;
   border-radius: 10px;
   background-image: linear-gradient(to bottom, rgb(29 42 29 / 98%), rgb(107 149 107));
   animation: progress-bar-4 6s 1 ease;

 }

 @keyframes progress-bar-4 {
   0% {
     width: 20%;
   }

   100% {
     width: 65%;
   }
 }




 .mainProgress2 .animation-bar-4 span::after,
 .mainProgress2 .animation-bar-5 span::after,
 .mainProgress2 .animation-bar-6 span::after,
 .mainProgress2 .animation-bar-C span::after,
 .mainProgress2 .animation-bar-D span::after {
   position: absolute;
   right: 0;
   bottom: calc(100% + 5px);
   display: inline-block;
   content: attr(data-label);
   padding: 4px 8px;
   border-radius: 3px;
   font-size: 0.8em;
   font-weight: bold;
   background-color: rgb(82 112 82 / 98%);
   color: #fff;
 }


 /* End progress NO.4 into Section skills */
 /* Start progress NO.5 into Section skills */





 .mainProgress2 .animation-bar-5 span {
   position: relative;
   top: -16px;
   display: block;
   height: 10px;
   width: 77%;
   border-radius: 10px;
   background-image: linear-gradient(to bottom, rgb(29 42 29 / 98%), rgb(107 149 107));
   animation: progress-bar-5 6s 1 ease;


 }

 @keyframes progress-bar-5 {
   0% {
     width: 20%;
   }

   100% {
     width: 77%;
   }
 }


 /* End progress NO.5 into Section skills */
 /* Start progress NO.6 into Section skills */


 .mainProgress2 .animation-bar-6 span {
   position: relative;
   top: -16px;
   display: block;
   height: 10px;
   width: 95%;
   border-radius: 10px;
   background-image: linear-gradient(to bottom, rgb(29 42 29 / 98%), rgb(107 149 107));
   animation: progress-bar-6 6s 1 ease;

 }

 @keyframes progress-bar-6 {
   0% {
     width: 20%;
   }

   100% {
     width: 95%;
   }
 }



 .mainProgress2 .animation-bar-C span {
   position: relative;
   top: -16px;
   display: block;
   height: 10px;
   width: 55%;
   border-radius: 10px;
   background-image: linear-gradient(to bottom, rgb(29 42 29 / 98%), rgb(107 149 107));
   animation: progress-bar-C 6s 1 ease;

 }

 @keyframes progress-bar-C {
   0% {
     width: 20%;
   }

   100% {
     width: 55%;
   }
 }




 .mainProgress2 .animation-bar-D span {
   position: relative;
   top: -16px;
   display: block;
   height: 10px;
   width: 75%;
   border-radius: 10px;
   background-image: linear-gradient(to bottom, rgb(29 42 29 / 98%), rgb(107 149 107));
   animation: progress-bar-D 6s 1 ease;

 }

 @keyframes progress-bar-D {
   0% {
     width: 20%;
   }

   100% {
     width: 75%;
   }
 }


 /* End Progress like "Html,css,javascript,JQuery...." into Skills Section */
 /* Start button named downloadCV...." into Skills Section */
 .downcv{
  color: inherit;
    font-size: 43px;
    font-weight: 500;
 }

 .downcv:hover{
  color: rgb(82 112 82 / 98%);
    
 }
 .buttoncv{
  font-size: 20px;
  color: #FFF;
  width: 25%;
  height: 85px;
  text-align: center;
  padding: 0px 19px 30px;
  background-color: rgb(82 112 82 / 98%);
  margin: 20px auto 30px;
  border-radius: 7px;
  transition: ease-in-out 1.9s;
  box-shadow: inset 0 0 0 0 #009688;
}
 .buttoncv:hover{
  color: rgb(82 112 82 / 98%);
 }
 
 .myCV a{
  text-decoration: none;
  color: #FFF;
  font-weight: 700;
 }

 .myCV a:hover{
  color: rgb(82 112 82 / 98%);;
 }
 
 .myCV {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
 }






 .buttoncv:hover {
   box-shadow: inset 160px 1px 1px 100px #000;
 }

 /* End button named downloadCV...." into Skills Section */

 /* Start section carousel Named client Speak */
 #clientSpeak {
   margin-left: 10px;
   /* background-color: #4d79a1ba; */
   background: rgb(2, 0, 36);
   background: linear-gradient(90deg, rgba(118, 116, 160, 0.258) 0%, rgba(104, 146, 182, 0.59) 46%, #6c757d00 100%)
 }


 #carouselExampleCaptions .carousel-inner .carousel-item #pic {
   position: relative;
   margin-top: -61px;
 }

 #carouselExampleCaptions h1 {
   color: #FFF;
   font-size: 45px;
   font-weight: bold;
   z-index: 9;
 }




 .carousel-item #client {
   margin-bottom: -5px;
 }

 .carousel-item h5 {
   color: #FFF;
   margin: 10px 0px 15px 0px;
   font-size: 22px;
 }

 .carousel-item h6 {
   color: #b7bdb3;
   margin: 15px 0px 30px 0px;
   font-size: 20px;
   padding: 0px 5px;
 }


 #carouselExampleCaptions li {
   background-color: #fff;
   width: 25px;
   height: 25px;
   border: 2px solid #FFF;
   border-radius: 50%;
   cursor: pointer;


 }

 #carouselExampleCaptions li.active {
   background-color: #fff;
   width: 25px;
   height: 25px;
   border: 4px solid #ffa502;

   border-radius: 50%;

 }

 /* End section carousel Named client Speak */

 /* start Organize icons of Icomoon social media face, twitter, github */
 .footerIcons .icon-twitter:hover {
   color: #00b3ff;

 }

 .footerIcons .icon-github:hover {
   color: #333;

 }

 .footerIcons .icon-instagram1:hover {
   color: gray;

 }

 .footerIcons .icon-facebook-square:hover {
   color: rgb(134, 39, 212);

 }

 .footerIcons .icon-dribbble:hover {
   color: rgb(226, 50, 103);

 }

 /* End Organize icons of Icomoon social media face, twitter, github */


 /*start hamburger */
 .menu-btn {
   position: relative;
   float: right;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 35px;
   height: 35px;
   cursor: pointer;
   transition: all .5s ease-in-out;

 }

 .menu-btn_burger {
   width: 22px;
   height: 2px;
   background-color: rgb(82 112 82 / 98%);
   border-radius: 5px;
   transition: all .5s ease-in-out;
 }

 .menu-btn_burger::before,
 .menu-btn_burger::after {
   content: '';
   position: absolute;
   width: 22px;
   height: 2px;
   background-color: rgb(82 112 82 / 98%);
   border-radius: 5px;
   transition: all .5s ease-in-out;
 }

 .menu-btn_burger::before {
   transform: translateY(-8px);
 }


 .menu-btn_burger::after {
   transform: translateY(8px);
 }

 .menu-btn.open .menu-btn_burger {
   transform: translateX(-25px);
   background-color: transparent;
 }

 .menu-btn.open .menu-btn_burger::before {
   transform: rotate(45deg) translate(15px, -15px);
 }

 .menu-btn.open .menu-btn_burger::after {
   transform: rotate(-45deg) translate(15px, 15px);
 }

 /*here execute the navLink hide and show with hamburger-menu smoothly*/
 .nav-list.open .nav-link {
   transform: scale(1);
   color: #FFF;
 }

 .nav-list.open .nav-item {
   transition-delay: initial;
   visibility: visible;
 }

 /*here show the link (word home about--atc) one after one */
 .nav-list.open .nav-item:nth-child(1) .nav-link {
   transition-delay: .5s;
 }

 .nav-list.open .nav-item:nth-child(2) .nav-link {
   transition-delay: .4s;
 }

 .nav-list.open .nav-item:nth-child(3) .nav-link {
   transition-delay: .3s;
 }

 .nav-list.open .nav-item:nth-child(4) .nav-link {
   transition-delay: .2s;
 }

 .nav-list.open .nav-item:nth-child(5) .nav-link {
   transition-delay: .1s;
 }

 /*Reverse Animation*/
 .nav-list .nav-item:nth-child(1) .nav-link {
   transition-delay: .1s;
 }

 .nav-list .nav-item:nth-child(2) .nav-link {
   transition-delay: .2s;
 }

 .nav-list .nav-item:nth-child(3) .nav-link {
   transition-delay: .3s;
 }

 .nav-list .nav-item:nth-child(4) .nav-link {
   transition-delay: .4s;
 }

 .nav-list .nav-item:nth-child(5) .nav-link {
   transition-delay: .5s;
 }

 /* End navbar "header" */


 /*start fixed menu .. (into home section)*/


 .fixed-menu {
   background-color: gray;
   color: rgb(82 112 82 / 98%);
   padding: 10px;
   position: fixed;
   left: -220px;
   top: 130px;
   height: 180px;
   min-width: 220px;
   z-index: 9;
 }

 .fixed-menu .icon-gear {
   position: absolute;
   right: -30px;
   top: 60px;
   background-color: #333;
   width: 30px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   border-radius: 0 10px 10px 0;
   cursor: pointer
 }

 .fixed-menu .change-colors li {
   width: 25px;
   height: 25px;
   display: inline-block;
   margin-top: 5px;
   cursor: pointer;

 }

 .fixed-menu .change-colors [data-color='red'] {
   background-color: #c0392b
 }

 .fixed-menu .change-colors [data-color='blue'] {
   background-color: #0e4e81
 }

 .fixed-menu .change-colors [data-color='green'] {
   background-color: rgb(82 112 82 / 98%)
 }

 .fixed-menu .change-colors [data-color='yellow'] {
   background-color: #e1db69
 }

 .fixed-menu .change-colors [data-color='black'] {
   background-color: #000
 }

 /*End fixed menu .. (into home section)*/
 /* start icon to change color in our page ..(this icone into fixed menu)*/

 /* start website theme colors*/

 [data-default-color='red'] .skin-color {
   color: #c0392b
 }

 [data-default-color='red'] .skin-background {
   background-color: #c0392b;
   color: #000;
 }

 [data-default-color='blue'] .skin-color {
   color: #0984e3
 }

 [data-default-color='blue'] .skin-background {
   background-color: #0e4e81;
   color: #fff;
 }


 [data-default-color='green'] .skin-color {
   color: rgb(82 112 82 / 98%)
 }

 [data-default-color='green'] .skin-background {
   background-color: rgb(82 112 82 / 98%);
   color: #FFF;
 }


 [data-default-color='yellow'] .skin-color {
   color: #ffa502;

 }

 [data-default-color='yellow'] .skin-background {
   background-color: #e1db69;
   color: #FFF;
 }

 [data-default-color='black'] .skin-color {
   color: #000;
 }

 [data-default-color='black'] .skin-background {
   background-color: #000;
   color: #FFF;
 }


 /* End  fixed menu icon to change color in our page ..(this icone into fixed menu)*/

 /* Start recognaize button that make load with scroll to top ... this don't have location... this for all page*/

 .progressbar {
   width: 4rem;
   height: 4rem;
   background-color: rgb(203 184 184);
   border-radius: 50%;
   position: fixed;
   top: 84%;
   right: 0%;
   transform: translate(-50%, -50%);
   overflow: hidden;
   z-index: 999;
 }

 .half-circle,
 .half-circle-top {
   position: absolute;
   top: 0;
   left: 0;
   width: 50%;
   height: 100%;
   transform-origin: right center;

 }

 .half-circle:nth-child(1) {
   background-color: gray;

 }

 .half-circle:nth-child(2) {
   background-color: gray;


 }


 .half-circle-top {
   background-color: rgb(203 184 184);


 }

 .progressbar:hover .half-circle:nth-child(1) {
   transform: rotate(180deg);
   transition: transform 1s linear;

 }

 .progressbar:hover .half-circle:nth-child(2) {
   transform: rotate(360deg);
   transition: transform 2s linear;

 }

 .progressbar:hover .half-circle-top {
   opacity: 0;
   transition: opacity 0s 1s;
 }

 .progressbar-circle {
   width: 3.4rem;
   height: 3.4rem;
   background-color: rgb(82 112 82 / 98%);
   border-radius: 50%;
   font-size: 2rem;
   z-index: 10;

 }


 .icon-chevron-up {
   color: gray;
   font-size: 24px;
   margin-left: -1px;
   margin-top: -7px;

   padding: 0px 25px;
 }

 /* End organization button that make load with scroll to top*/





 /* start organization big images into Home Section */


 /* start big Imag */

 #home {
   background-color: #000000eb;
   height: auto;
   padding-top: 130px;

 }

 .hero {
   height: 410px;
   border-radius: 50%;
   margin-left: 100px;
   border: 10px solid rgb(82 112 82 / 98%);
   animation: scale-in-center 3s ease 0s 1 normal none;

 }

 @keyframes scale-in-center {
   0% {
     transform: scale(0.75);
     opacity: 1;
   }

   100% {
     transform: scale(1);
     opacity: 1;
   }
 }


 .boxx {

   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 130px;
   margin: 50px auto;
   background: #000;
   overflow: hidden;
   margin-top: 110px;
   margin-left: -6px;
 }

 .box {
   position: relative;
   width: 100%;
   height: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: darkgreen; */

 }

 .box h2 {
   color: #fff;
   font-size: 4.2em;
   font-weight: 600;
   letter-spacing: 0.1em;

   text-shadow: 0 0 10px #00b3ff,
     0 0 20px #00b3ff,
     0 0 40px #00b3ff,
     0 0 80px #00b3ff,
     0 0 120px #00b3ff;

 }

 .lightbar {
   position: absolute;
   top: 0;
   left: 0;
   width: 10px;
   height: 100%;
   border-radius: 10px;
   background: #FFF;
   z-index: 2;
   box-shadow: 0 0 10px #00b3ff,
     0 0 20px #00b3ff,
     0 0 40px #00b3ff,
     0 0 80px #00b3ff,
     0 0 120px #00b3ff;
   animation: animatelightbar 5s linear infinite;
 }

 @keyframes animatelightbar {

   0%,
   5% {
     transform: scaleY(0) translateX(0);
   }

   10% {
     transform: scaleY(1) translateX(0);
   }

   90% {
     transform: scaleY(1) translateX(calc(600px - 10px));
   }

   95%,
   100% {
     transform: scaleY(0) translateX(calc(600px - 10px));
   }
 }

 .topLayer {
   position: absolute;
   top: 0;
   left: 0%;
   width: 100%;
   height: 100%;
   background: #000;
   animation: animatetopLayer 10s linear infinite;
 }

 @keyframes animatetopLayer {

   0%,
   2.5% {
     transform: translateX(0);
   }

   5% {
     transform: translateX(0);
   }

   45% {
     transform: translateX(100%);
   }

   47.5%,
   50% {
     transform: translateX(100%);
   }

   50.001%,
   52.5% {
     transform: translateX(-100%);
   }

   55% {
     transform: translateX(-100%);
   }

   95% {
     transform: translateX(0%);
   }

   97.5%,
   50% {
     transform: translateX(0%);
   }
 }


 /* start arrangment the typer that content of I'm Free Lancer ... into screen from 992 TO 1200PX */

 .typer {
   font-size: 35px;
   text-align: center;
   color: #FFF;
   letter-spacing: 1.7px;
   margin-left: -25px;
   margin-top: 37px;
   line-height: 45px;
   text-shadow: -1px -6px 4px rgb(70 206 70 / 98%);
 }


 /* End arrangment the typer that content of I'm Free Lancer */



 /* start arragment button that named veiw my works */

 .links {
   height: 110px;
   outline: none;
   margin-bottom: 35px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   align-content: stretch;
   justify-content: center;
 }

 .links .veiw a {
   text-decoration: none;
   font-weight: bold;
   color: #fff;
 }

 .links .veiw {
   padding: 15px 60px;
   height: 58%;
   margin-left: 17px;
   font-size: 15px;
   background-color: rgb(82 112 82 / 98%);
   border-radius: 5px;
   box-shadow: inset 0 0 0 0 #009688;
   transition: ease-in-out 1.9s;
   border: 1px solid rgb(82 112 82 / 98%);
   outline: none;
 }


 .links .veiw:hover {
   box-shadow: inset 250px 1px 1px 1px #000;
 }

 /* End arragment button that named veiw my works  */
 /* Start arragment button that named contact Me  */



 .links .contct {
   margin-left: 20px;
   background-color: transparent;
   padding: 14px 0px;
   width: 45%;
   height: 65px;
   text-align: center;
   border-radius: 6px;
   border: 2px solid rgb(82 112 82 / 98%);

 }

 .links .contactMe {
   font-size: 13px;
   margin: -6px 10px;
   display: contents;
   background-color: transparent;
 }

 .icon-arrow-circle-down {
   color: rgb(82 112 82 / 98%);
   font-size: 20px;
   margin-right: 10px;
   margin-left: 14px;
 }

 .contactMe::before {
   color: rgb(82 112 82 / 98%);
   background-color: transparent;
   font-weight: bold;
   content: "Contact Me";
   font-size: 17px;
   margin: 8px 0px;
   text-decoration: underline;
   padding: 6px 5px;

 }

 /* Start arragment button that named contact Me  */







 /* Organize Arrow  */


 .arrow {
   text-align: center;
   bottom: 20px;
   position: relative;
 }

 .arrow .icon-arrow-down1 {
   font-size: 20px;
   color: rgb(82 112 82 / 98%);
   animation: bounce-top 1s ease 0s infinite normal none;

 }

 @keyframes bounce-top {
   0% {
     transform: translateY(0px);
   }

   50% {
     transform: translateY(10px);
   }

   100% {
     transform: translateY(0);
   }
 }

 /* Start Contact Section that content of address and Email ....atc */


 /* start Contact Section */

 #contact {
   background-color: #80808040;
   height: 680px;
 }

 #contact h4 {
   margin: 0px auto;
 }



 .contactLeft h1 {
   color: #000;
   text-align: left;
   font-weight: bold;
   font-size: 37px;
 }

 .contactLeft .injoy {
   color: #000;
   text-align: left;
   font-size: 20px;
   max-width: 510px;
 }

 .contactLeft h5 {
   color: #000;
   text-align: left;
   font-weight: bold;

 }

 .contactLeft .sham {
   color: #000;
   text-align: left;
   font-size: 22px;
   margin: 10px 0px;
 }

 .contactLeft p {
   color: #000;
   text-align: left;
   font-size: 22px;
   margin: 30px 0px;
 }

 /* start Contact Section ... "right section" */


 .contactRight h1 {
   color: #000;
   text-align: left;
   font-weight: bold;
   font-size: 37px;


 }

 .contactRight input {
   border: none;
   outline: none;
 }


 #contact .wrapper {
   background-color: #ced4da;
   margin-top: 40px;
 }

 .wrapper .input_field {
   margin-bottom: 10px;
 }

 .wrapper .input_field input[type="text"],
 .wrapper .input_field input[type="number"],
 .wrapper textarea {
   width: 100%;
   border: 1px solid #e0e0e0;
   padding: 10px;
   background-color: transparent;
   border-bottom: 1.4px solid gray;
   outline: none;
 }

 .wrapper textarea {
   height: 80px;
   resize: none;
 }

 .wrapper .btnn input[type="submit"] {
   border: 0;
   margin-top: 25px;
   margin-bottom: 19px;
   padding: 10px;
   width: 45%;
   background-color: #62622299;
   color: #FFF;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-weight: bold;
   border-radius: 25px;
   cursor: pointer;
 }

 .wrapper #error_message {
   margin-bottom: 20px;
   padding: 0px;
   background-color: rgb(82 112 82 / 98%);
   text-align: center;
   font-size: 14px;
   color: #FFF;
   font-weight: bold;
   transition: all 0.5s ease;
 }





 /* start Contact Section ... "right section" */

 .container .our-form .the-message {
   display: none;
 }

 .contactLeft .phone {
   font-size: 16px;
   font-weight: 600;
   margin: 11px 0px;
 }



 /* End Contact Section that content of address and Email ....atc */











 /* start  footer*/
 .footer {
   width: 100%;
   height: 135px;
   background-color: #000;
   color: #FFF;
   margin-top: -112px;
   padding-top: 22px;

 }

 .footer .copy {

   font-size: 20px;
   text-align: center;
   margin-top: 0px;
 }

 .footer .copy a {
   color: #ffa502;
   font-weight: bold;
   text-decoration: underline;
 }

 .footer .design {

   font-size: 19px;
   text-align: center;
   margin-top: 0px
 }

 .footer .design a {
   color: #ffa502;
   font-weight: bold;
   text-decoration: underline;
 }



 .footer .footerIcons i {
   color: #FFF;
   text-align: left;
   font-size: 30px;
   padding: 1px 37px;
   margin: 4px 0x;
   cursor: pointer;
 }





 /* End  footer*/